<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card text-dark bg-light mb-3">
      <div class="card-header">課程資訊</div>
      <div class="card-body">
        <h5 class="card-title">名稱: <%= @course.name %></h5>
        <p class="card-text">價格: <%= @course.price %></p>
        <p class="card-text">敘述: <%= @course.description %></p>
        <p class="card-text">類型: <%= @course.courses_type %></p>
      </div>
    </div>
  </div>
</div>
